# Anotações da semana 03
2019-IV-20

### Dataframes

Organizando os pacotes que vamos usar:

In [1]:
using Pkg
#Pkg.installed() #lista os pacotes que você já tem e as correspondentes versões
Pkg.update() 
Pkg.add([
        "DataFrames",
        "CSV",
        "Statistics",
        "Random",
        "RDatasets"
        ])
using DataFrames,
        CSV,
        Statistics,
        Random,
        RDatasets
        ])

  Updating registry at `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\registries\JuliaPro`

┌ Warning: InterruptException()
└ @ Pkg.Operations C:\Users\julia\AppData\Local\Julia-1.0.3\share\julia\stdlib\v1.0\Pkg\src\Operations.jl:484

  Updating git-repo `https://pkg.juliacomputing.com//registry/JuliaPro`
 Resolving package versions...
 Installed DataFrames ────────────────── v0.17.1
 Installed DataStreams ───────────────── v0.4.1
 Installed Tables ────────────────────── v0.1.18
 Installed TimeZones ─────────────────── v0.9.0
 Installed CategoricalArrays ─────────── v0.5.2
 Installed CodecZlib ─────────────────── v0.5.0
 Installed IteratorInterfaceExtensions ─ v0.1.1
 Installed Mocking ───────────────────── v0.5.7
 Installed RData ─────────────────────── v0.6.0
 Installed Parsers ───────────────────── v0.2.22
 Installed EzXML ─────────────────────── v0.9.0
 Installed WeakRefStrings ────────────── v0.5.8
 Installed FileIO ────────────────────── v1.0.6
 Installed TableTraits ───────────────── v0.4.1
 Installed TranscodingStreams ────────── v0.9.4
 Installed CSV ───────────────────────── v0.4.3
 Installed RDatasets ─────────────────── v0.6.1
  Updating `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\environments\v1.0\Project.toml`
  [336ed68f] + CSV v0.4.3
  [a93c6f00] + DataFrames v0.17.1
  [ce6b1742] + RDatasets v0.6.1
  [10745b16] + Statistics
  Updating `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\environments\v1.0\Manifest.toml`
  [336ed68f] + CSV v0.4.3
  [324d7699] + CategoricalArrays v0.5.2
  [944b1d66] + CodecZlib v0.5.0
  [a93c6f00] + DataFrames v0.17.1
  [9a8bc11e] + DataStreams v0.4.1
  [8f5d6c58] + EzXML v0.9.0
  [5789e2e9] + FileIO v1.0.6
  [82899510] + IteratorInterfaceExtensions v0.1.1
  [78c3b35d] + Mocking v0.5.7
  [69de0a69] + Parsers v0.2.22
  [df47a6cb] + RData v0.6.0
  [ce6b1742] + RDatasets v0.6.1
  [3783bdb8] + TableTraits v0.4.1
  [bd369af6] + Tables v0.1.18
  [f269a46b] + TimeZones v0.9.0
  [3bb67fe8] + TranscodingStreams v0.9.4
  [ea10d353] + WeakRefStrings v0.5.8
  [9fa8497b] + Future
  Building EzXML ────→ `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\EzXML\DUxj7\deps\build.log`
  Building TimeZones → `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\TimeZones\oXITd\deps\build.log`
  Building CodecZlib → `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\CodecZlib\wwgbh\deps\build.log`

In [5]:
using DataFrames,
        CSV,
        Statistics,
        Random,
        RDatasets

Vamos explorar o pacote DataFrames pra ver o que ele pode fazer por nós:

In [7]:
?DataFrame

search: DataFrame DataFrames DataFrameRow SubDataFrame GroupedDataFrame

  DataFrame <: AbstractDataFrame

  An AbstractDataFrame that stores a set of named columns

  The columns are normally AbstractVectors stored in memory, particularly a
  Vector or CategoricalVector.

  Constructors

  DataFrame(columns::Vector, names::Vector{Symbol}; makeunique::Bool=false)
  DataFrame(columns::Matrix, names::Vector{Symbol}; makeunique::Bool=false)
  DataFrame(kwargs...)
  DataFrame(pairs::Pair{Symbol}...; makeunique::Bool=false)
  DataFrame() # an empty DataFrame
  DataFrame(t::Type, nrows::Integer, ncols::Integer) # an empty DataFrame of arbitrary size
  DataFrame(column_eltypes::Vector, names::Vector, nrows::Integer; makeunique::Bool=false)
  DataFrame(column_eltypes::Vector, cnames::Vector, categorical::Vector, nrows::Integer;
            makeunique::Bool=false)
  DataFrame(ds::AbstractDict)
  DataFrame(table; makeunique::Bool=false)

  Arguments

    •    columns : a Vector with each column as contents or a Matrix

    •    names : the column names

    •    makeunique : if false (the default), an error will be raised if
        duplicates in names are found; if true, duplicate names will be
        suffixed with _i (i starting at 1 for the first duplicate).

    •    kwargs : the key gives the column names, and the value is the
        column contents

    •    t : elemental type of all columns

    •    nrows, ncols : number of rows and columns

    •    column_eltypes : elemental type of each column

    •    categorical : Vector{Bool} indicating which columns should be
        converted to CategoricalVector

    •    ds : AbstractDict of columns

    •    table: any type that implements the Tables.jl
        (https://github.com/JuliaData/Tables.jl) interface

  Each column in columns should be the same length.

  Notes

  A DataFrame is a lightweight object. As long as columns are not manipulated,
  creation of a DataFrame from existing AbstractVectors is inexpensive. For
  example, indexing on columns is inexpensive, but indexing by rows is
  expensive because copies are made of each column.

  If a column is passed to a DataFrame constructor or is assigned as a whole
  using setindex! then its reference is stored in the DataFrame. An exception
  to this rule is assignment of an AbstractRange as a column, in which case
  the range is collected to a Vector.

  Because column types can vary, a DataFrame is not type stable. For
  performance-critical code, do not index into a DataFrame inside of loops.

  Examples

  df = DataFrame()
  v = ["x","y","z"][rand(1:3, 10)]
  df1 = DataFrame(Any[collect(1:10), v, rand(10)], [:A, :B, :C])
  df2 = DataFrame(A = 1:10, B = v, C = rand(10))
  dump(df1)
  dump(df2)
  describe(df2)
  first(df1, 10)
  df1[:A] + df2[:C]
  df1[1:4, 1:2]
  df1[[:A,:C]]
  df1[1:2, [:A,:C]]
  df1[:, [:A,:C]]
  df1[:, [1,3]]
  df1[1:4, :]
  df1[1:4, :C]
  df1[1:4, :C] = 40. * df1[1:4, :C]
  [df1; df2]  # vcat
  [df1  df2]  # hcat
  size(df1)

Vamos então criar um fataframe para brincar:

In [8]:
df=DataFrame()

0×0 DataFrame

Criamos um df vazio. Agora vamos inspecionar as dimensões dele (finge que você não sabe e que alguém te passou um df que você nunca viu na vida).

In [9]:
size(df,1) # Quantas linhas meu df tem?

0

In [11]:
nrow(df) # A mesma coisa, mas de outro jeito.

0

In [10]:
size(df,2) #Quantas colunas meu df tem?

0

In [13]:
ncol(df) # A mesma coisa, mas de outro jeito.

0

In [16]:
df.PRIMEIRACOLUNA=1:10 # Criando a primeira coluna com 10 linhas preenchidas com uma sequência de 1 a 10.
df

10×1 DataFrame
│ Row │ PRIMEIRACOLUNA │
│     │ Int64          │
├─────┼────────────────┤
│ 1   │ 1              │
│ 2   │ 2              │
│ 3   │ 3              │
│ 4   │ 4              │
│ 5   │ 5              │
│ 6   │ 6              │
│ 7   │ 7              │
│ 8   │ 8              │
│ 9   │ 9              │
│ 10  │ 10             │

In [19]:
Random.seed!(42) # Vamos travar o conjunto de números aleatórios para facilitar nosso trabalho em grupo! <3

MersenneTwister(UInt32[0x0000002a], Random.DSFMT.DSFMT_state(Int32[964434469, 1073036706, 1860149520, 1073503458, 1687169063, 1073083486, -399267803, 1072983952, -909620556, 1072836235  …  -293054293, 1073002412, -1300127419, 1073642642, 1917177374, -666058738, -337596527, 1830741494, 382, 0]), [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  …  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], UInt128[0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000  …  0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000], 1002, 0)

Vamos preencher a nossa matriz com três colunas:

In [26]:
df1 = DataFrame(A = 1:10, B = ["a","b","c","d","e","f","g","h","i","j"], C = rand(10))

10×3 DataFrame
│ Row │ A     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Agora vamos renomear as colunas:

In [27]:
rename(df1,:A => :F) # "Pegue a coluna que se chama 'A' e agora chame ela de 'F', mas não salve no meu objeto df1"

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

In [28]:
df1 #Conferindo se atualizou o objeto ou não

10×3 DataFrame
│ Row │ A     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

In [29]:
rename!(df1,:A => :F) # "Pegue a coluna que se chama 'A' e agora chame ela de 'F', e agora salve no meu objeto df1 (o ! depois da função atualiza o objeto)"

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Vamos selecionar colunas e linhas. A gente pode fazer isso pelo número dela ou pelo nome:

In [30]:
df1[:F] #Se pedir com um colchete, ele retorna um vetor

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [31]:
df1[[:F]] #Se pedir com dois colchetes, ele retorna um dataframe com uma coluna

10×1 DataFrame
│ Row │ F     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 1     │
│ 2   │ 2     │
│ 3   │ 3     │
│ 4   │ 4     │
│ 5   │ 5     │
│ 6   │ 6     │
│ 7   │ 7     │
│ 8   │ 8     │
│ 9   │ 9     │
│ 10  │ 10    │

O Guidoni quer as duas últimas colunas cuja linha da coluna 1 são iguais a 5:

In [51]:
df1[df1.F.==5,2:3]

1×2 DataFrame
│ Row │ B      │ C        │
│     │ String │ Float64  │
├─────┼────────┼──────────┤
│ 1   │ e      │ 0.969432 │

Agora ele quer as linhas em que o valor da coluna 1 são maiores que 5:

In [52]:
df1[df1.F.>5,2:3]

5×2 DataFrame
│ Row │ B      │ C         │
│     │ String │ Float64   │
├─────┼────────┼───────────┤
│ 1   │ f      │ 0.0823367 │
│ 2   │ g      │ 0.244683  │
│ 3   │ h      │ 0.452418  │
│ 4   │ i      │ 0.763719  │
│ 5   │ j      │ 0.281987  │

Agora ele quer os menores que 5:

In [58]:
df1[df1.F.<5,2:3]

4×2 DataFrame
│ Row │ B      │ C        │
│     │ String │ Float64  │
├─────┼────────┼──────────┤
│ 1   │ a      │ 0.61205  │
│ 2   │ b      │ 0.210885 │
│ 3   │ c      │ 0.167169 │
│ 4   │ d      │ 0.497081 │

Agora ele quer os diferentes de 5:

In [55]:
df1[df1.F.!=5,2:3]

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Agora a Raquel quer as linhas cujos valores na coluna 1 estejam entre 2 e 6:

In [67]:
df1[(2 .< df1.F .<6),:]

3×3 DataFrame
│ Row │ F     │ B      │ C        │
│     │ Int64 │ String │ Float64  │
├─────┼───────┼────────┼──────────┤
│ 1   │ 3     │ c      │ 0.167169 │
│ 2   │ 4     │ d      │ 0.497081 │
│ 3   │ 5     │ e      │ 0.969432 │

Agora o Guidoni (pô, Guidoni!) quer um subset de df1 baseado em condições de duas colunas:

In [68]:
df1[(2 .< df1.F .<6) .& (df1.C .> 0.2), :]

2×3 DataFrame
│ Row │ F     │ B      │ C        │
│     │ Int64 │ String │ Float64  │
├─────┼───────┼────────┼──────────┤
│ 1   │ 4     │ d      │ 0.497081 │
│ 2   │ 5     │ e      │ 0.969432 │

In [69]:
dump(df1) #Inspecionar o dataframe

DataFrame  10 observations of 3 variables
  F: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  B: ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
  C: [0.61205, 0.210885, 0.167169, 0.497081, 0.969432, 0.0823367, 0.244683, 0.452418, 0.763719, 0.281987]

In [70]:
describe(df1) #Descrição estatística do dataframe

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median   │ max      │ nunique │
│     │ Symbol   │ Union…   │ Any       │ Union…   │ Any      │ Union…  │
├─────┼──────────┼──────────┼───────────┼──────────┼──────────┼─────────┤
│ 1   │ F        │ 5.5      │ 1         │ 5.5      │ 10       │         │
│ 2   │ B        │          │ a         │          │ j        │ 10      │
│ 3   │ C        │ 0.428176 │ 0.0823367 │ 0.367203 │ 0.969432 │         │

In [71]:
first(df1,4) #Esta função mostra as primeiras linhas do df. O default é mostrar só uma linha, mas você pode dizer quantas quer ver (neste caso, queremos ver as 4 primeiras linhas)

4×3 DataFrame
│ Row │ F     │ B      │ C        │
│     │ Int64 │ String │ Float64  │
├─────┼───────┼────────┼──────────┤
│ 1   │ 1     │ a      │ 0.61205  │
│ 2   │ 2     │ b      │ 0.210885 │
│ 3   │ 3     │ c      │ 0.167169 │
│ 4   │ 4     │ d      │ 0.497081 │

In [72]:
last(df1,5) #Semelhante ao anterior, mas para mostrar as últimas linhas

5×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 6     │ f      │ 0.0823367 │
│ 2   │ 7     │ g      │ 0.244683  │
│ 3   │ 8     │ h      │ 0.452418  │
│ 4   │ 9     │ i      │ 0.763719  │
│ 5   │ 10    │ j      │ 0.281987  │

In [73]:
unique(df1.C) #Quais os valores únicos da coluna C?

10-element Array{Float64,1}:
 0.6120496344690995
 0.21088484982656963
 0.16716931951820713
 0.4970812767934871
 0.9694319430590213
 0.08233666746625179
 0.24468287051664506
 0.45241842742658944
 0.763719368415045
 0.28198708251379423

In [74]:
nonunique(df1) #Existem valores duplicados entre as linhas?

10-element Array{Bool,1}:
 false
 false
 false
 false
 false
 false
 false
 false
 false
 false

In [77]:
deletecols!(df1,:C) #"Delete a coluna chamada C (e, obviamente, sobrescreva o novo df no meu objeto df1)"

10×2 DataFrame
│ Row │ F     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │
│ 3   │ 3     │ c      │
│ 4   │ 4     │ d      │
│ 5   │ 5     │ e      │
│ 6   │ 6     │ f      │
│ 7   │ 7     │ g      │
│ 8   │ 8     │ h      │
│ 9   │ 9     │ i      │
│ 10  │ 10    │ j      │

Muito bem, agora nosso df1 está todo esculhambado. Vamos criar um df2 para brincar com concatenação de linhas e colunas, e operações.

In [79]:
df2 = df1

10×2 DataFrame
│ Row │ F     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │
│ 3   │ 3     │ c      │
│ 4   │ 4     │ d      │
│ 5   │ 5     │ e      │
│ 6   │ 6     │ f      │
│ 7   │ 7     │ g      │
│ 8   │ 8     │ h      │
│ 9   │ 9     │ i      │
│ 10  │ 10    │ j      │

In [81]:
vcat(df1, df2) #É a mesma coisa de [df1; df2]: junta dataframes pelas linhas. Necessariamente as colunas devem ter os mesmos nomes.

20×2 DataFrame
│ Row │ F     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │
│ 3   │ 3     │ c      │
│ 4   │ 4     │ d      │
│ 5   │ 5     │ e      │
│ 6   │ 6     │ f      │
│ 7   │ 7     │ g      │
│ 8   │ 8     │ h      │
│ 9   │ 9     │ i      │
│ 10  │ 10    │ j      │
│ 11  │ 1     │ a      │
│ 12  │ 2     │ b      │
│ 13  │ 3     │ c      │
│ 14  │ 4     │ d      │
│ 15  │ 5     │ e      │
│ 16  │ 6     │ f      │
│ 17  │ 7     │ g      │
│ 18  │ 8     │ h      │
│ 19  │ 9     │ i      │
│ 20  │ 10    │ j      │

In [84]:
hcat(df1,df2,makeunique=true) # Quando suas colunas têm os mesmos nomes, o Julia fica confuso e não entende como você, jovem, quereria um df com duas colunas com o mesmo nome. E aí você diz "makeunique", ou seja: "faça com que os nomes das colunas sejam únicos".

10×4 DataFrame
│ Row │ F     │ B      │ F_1   │ B_1    │
│     │ Int64 │ String │ Int64 │ String │
├─────┼───────┼────────┼───────┼────────┤
│ 1   │ 1     │ a      │ 1     │ a      │
│ 2   │ 2     │ b      │ 2     │ b      │
│ 3   │ 3     │ c      │ 3     │ c      │
│ 4   │ 4     │ d      │ 4     │ d      │
│ 5   │ 5     │ e      │ 5     │ e      │
│ 6   │ 6     │ f      │ 6     │ f      │
│ 7   │ 7     │ g      │ 7     │ g      │
│ 8   │ 8     │ h      │ 8     │ h      │
│ 9   │ 9     │ i      │ 9     │ i      │
│ 10  │ 10    │ j      │ 10    │ j      │

 Caso você precise fazer mesclar dois dfs eliminando redundâncias, você precisa buscar funções como o join do dplyr. A gente não vai entrar nestes detalhes por motivos de tempo. Mas fique à vontade: [como mesclar dataframes eliminando redundâncias no Julia?](http://bfy.tw/NJWa).

Vamos testar uns reshapes pra ver o que acontece!

In [86]:
iris = dataset("datasets", "iris")

150×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species      │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Categorical… │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa       │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa       │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa       │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa       │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa       │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa       │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa       │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa       │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa       │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa       │
⋮
│ 140 │ 6.9         │ 3.1        │ 5.4         │ 2.1        │ virginica    │
│ 141 │ 6.7         │ 3.1        │ 5.6         │ 2.4        │ virginica    │
│ 142 │ 6.9         │ 3.1        │ 5.1         │ 2.3        │ virginica    │
│ 143 │ 5.8         │ 2.7        │ 5.1         │ 1.9        │ virginica    │
│ 144 │ 6.8         │ 3.2        │ 5.9         │ 2.3        │ virginica    │
│ 145 │ 6.7         │ 3.3        │ 5.7         │ 2.5        │ virginica    │
│ 146 │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ virginica    │
│ 147 │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ virginica    │
│ 148 │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ virginica    │
│ 149 │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ virginica    │
│ 150 │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ virginica    │

In [92]:
iris[:id] = 1:size(iris,1) # Cria uma coluna chamada id no df iris com uma sequência de 1 até o número de linhas do df. O mesmo que `iris[:id] = 1:nrow(iris)`

1:150

In [93]:
iris_stacked = stack(iris) #Passa de um df wide pra um df long, listando todas as colunas numéricas com base na variável categórica

600×4 DataFrame
│ Row │ variable    │ value   │ Species      │ id    │
│     │ Symbol      │ Float64 │ Categorical… │ Int64 │
├─────┼─────────────┼─────────┼──────────────┼───────┤
│ 1   │ SepalLength │ 5.1     │ setosa       │ 1     │
│ 2   │ SepalLength │ 4.9     │ setosa       │ 2     │
│ 3   │ SepalLength │ 4.7     │ setosa       │ 3     │
│ 4   │ SepalLength │ 4.6     │ setosa       │ 4     │
│ 5   │ SepalLength │ 5.0     │ setosa       │ 5     │
│ 6   │ SepalLength │ 5.4     │ setosa       │ 6     │
│ 7   │ SepalLength │ 4.6     │ setosa       │ 7     │
│ 8   │ SepalLength │ 5.0     │ setosa       │ 8     │
│ 9   │ SepalLength │ 4.4     │ setosa       │ 9     │
│ 10  │ SepalLength │ 4.9     │ setosa       │ 10    │
⋮
│ 590 │ PetalWidth  │ 2.1     │ virginica    │ 140   │
│ 591 │ PetalWidth  │ 2.4     │ virginica    │ 141   │
│ 592 │ PetalWidth  │ 2.3     │ virginica    │ 142   │
│ 593 │ PetalWidth  │ 1.9     │ virginica    │ 143   │
│ 594 │ PetalWidth  │ 2.3     │ virginica    │ 144   │
│ 595 │ PetalWidth  │ 2.5     │ virginica    │ 145   │
│ 596 │ PetalWidth  │ 2.3     │ virginica    │ 146   │
│ 597 │ PetalWidth  │ 1.9     │ virginica    │ 147   │
│ 598 │ PetalWidth  │ 2.0     │ virginica    │ 148   │
│ 599 │ PetalWidth  │ 2.3     │ virginica    │ 149   │
│ 600 │ PetalWidth  │ 1.8     │ virginica    │ 150   │

In [94]:
iris_stacked = stack(iris, 2:4) #Faz a mesma operação anterior só com as colunas 2 a 4

450×5 DataFrame
│ Row │ variable   │ value   │ SepalLength │ Species      │ id    │
│     │ Symbol     │ Float64 │ Float64     │ Categorical… │ Int64 │
├─────┼────────────┼─────────┼─────────────┼──────────────┼───────┤
│ 1   │ SepalWidth │ 3.5     │ 5.1         │ setosa       │ 1     │
│ 2   │ SepalWidth │ 3.0     │ 4.9         │ setosa       │ 2     │
│ 3   │ SepalWidth │ 3.2     │ 4.7         │ setosa       │ 3     │
│ 4   │ SepalWidth │ 3.1     │ 4.6         │ setosa       │ 4     │
│ 5   │ SepalWidth │ 3.6     │ 5.0         │ setosa       │ 5     │
│ 6   │ SepalWidth │ 3.9     │ 5.4         │ setosa       │ 6     │
│ 7   │ SepalWidth │ 3.4     │ 4.6         │ setosa       │ 7     │
│ 8   │ SepalWidth │ 3.4     │ 5.0         │ setosa       │ 8     │
│ 9   │ SepalWidth │ 2.9     │ 4.4         │ setosa       │ 9     │
│ 10  │ SepalWidth │ 3.1     │ 4.9         │ setosa       │ 10    │
⋮
│ 440 │ PetalWidth │ 2.1     │ 6.9         │ virginica    │ 140   │
│ 441 │ PetalWidth │ 2.4     │ 6.7         │ virginica    │ 141   │
│ 442 │ PetalWidth │ 2.3     │ 6.9         │ virginica    │ 142   │
│ 443 │ PetalWidth │ 1.9     │ 5.8         │ virginica    │ 143   │
│ 444 │ PetalWidth │ 2.3     │ 6.8         │ virginica    │ 144   │
│ 445 │ PetalWidth │ 2.5     │ 6.7         │ virginica    │ 145   │
│ 446 │ PetalWidth │ 2.3     │ 6.7         │ virginica    │ 146   │
│ 447 │ PetalWidth │ 1.9     │ 6.3         │ virginica    │ 147   │
│ 448 │ PetalWidth │ 2.0     │ 6.5         │ virginica    │ 148   │
│ 449 │ PetalWidth │ 2.3     │ 6.2         │ virginica    │ 149   │
│ 450 │ PetalWidth │ 1.8     │ 5.9         │ virginica    │ 150   │

In [99]:
unstacked_iris = unstack(iris_stacked) #Volta o df para o formato original

150×6 DataFrame. Omitted printing of 1 columns
│ Row │ SepalLength │ Species      │ id    │ PetalLength │ PetalWidth │
│     │ Float64     │ Categorical… │ Int64 │ Float64⍰    │ Float64⍰   │
├─────┼─────────────┼──────────────┼───────┼─────────────┼────────────┤
│ 1   │ 4.3         │ setosa       │ 14    │ 1.1         │ 0.1        │
│ 2   │ 4.4         │ setosa       │ 9     │ 1.4         │ 0.2        │
│ 3   │ 4.4         │ setosa       │ 39    │ 1.3         │ 0.2        │
│ 4   │ 4.4         │ setosa       │ 43    │ 1.3         │ 0.2        │
│ 5   │ 4.5         │ setosa       │ 42    │ 1.3         │ 0.3        │
│ 6   │ 4.6         │ setosa       │ 4     │ 1.5         │ 0.2        │
│ 7   │ 4.6         │ setosa       │ 7     │ 1.4         │ 0.3        │
│ 8   │ 4.6         │ setosa       │ 23    │ 1.0         │ 0.2        │
│ 9   │ 4.6         │ setosa       │ 48    │ 1.4         │ 0.2        │
│ 10  │ 4.7         │ setosa       │ 3     │ 1.3         │ 0.2        │
⋮
│ 140 │ 7.2         │ virginica    │ 110   │ 6.1         │ 2.5        │
│ 141 │ 7.2         │ virginica    │ 126   │ 6.0         │ 1.8        │
│ 142 │ 7.2         │ virginica    │ 130   │ 5.8         │ 1.6        │
│ 143 │ 7.3         │ virginica    │ 108   │ 6.3         │ 1.8        │
│ 144 │ 7.4         │ virginica    │ 131   │ 6.1         │ 1.9        │
│ 145 │ 7.6         │ virginica    │ 106   │ 6.6         │ 2.1        │
│ 146 │ 7.7         │ virginica    │ 118   │ 6.7         │ 2.2        │
│ 147 │ 7.7         │ virginica    │ 119   │ 6.9         │ 2.3        │
│ 148 │ 7.7         │ virginica    │ 123   │ 6.7         │ 2.0        │
│ 149 │ 7.7         │ virginica    │ 136   │ 6.1         │ 2.3        │
│ 150 │ 7.9         │ virginica    │ 132   │ 6.4         │ 2.0        │

"Vamos bagunçar esse negócio ***agora***!" (Guidoni, 2019) [Pérolas](#perolas-da-semana)  
Vamos ver o que acontece se tivermos mais de uma coluna categórica.

In [103]:
iris[:teste] = ["perola","peroba","porco"][rand(1:3,150)] # Cria um vetor de variáveis categóricas e sorteia a ordem em que elas aparecem no df
iris_stacked = stack(iris)

600×5 DataFrame
│ Row │ variable    │ value   │ Species      │ id    │ teste  │
│     │ Symbol      │ Float64 │ Categorical… │ Int64 │ String │
├─────┼─────────────┼─────────┼──────────────┼───────┼────────┤
│ 1   │ SepalLength │ 5.1     │ setosa       │ 1     │ perola │
│ 2   │ SepalLength │ 4.9     │ setosa       │ 2     │ peroba │
│ 3   │ SepalLength │ 4.7     │ setosa       │ 3     │ perola │
│ 4   │ SepalLength │ 4.6     │ setosa       │ 4     │ peroba │
│ 5   │ SepalLength │ 5.0     │ setosa       │ 5     │ porco  │
│ 6   │ SepalLength │ 5.4     │ setosa       │ 6     │ perola │
│ 7   │ SepalLength │ 4.6     │ setosa       │ 7     │ perola │
│ 8   │ SepalLength │ 5.0     │ setosa       │ 8     │ perola │
│ 9   │ SepalLength │ 4.4     │ setosa       │ 9     │ porco  │
│ 10  │ SepalLength │ 4.9     │ setosa       │ 10    │ peroba │
⋮
│ 590 │ PetalWidth  │ 2.1     │ virginica    │ 140   │ porco  │
│ 591 │ PetalWidth  │ 2.4     │ virginica    │ 141   │ peroba │
│ 592 │ PetalWidth  │ 2.3     │ virginica    │ 142   │ perola │
│ 593 │ PetalWidth  │ 1.9     │ virginica    │ 143   │ porco  │
│ 594 │ PetalWidth  │ 2.3     │ virginica    │ 144   │ peroba │
│ 595 │ PetalWidth  │ 2.5     │ virginica    │ 145   │ porco  │
│ 596 │ PetalWidth  │ 2.3     │ virginica    │ 146   │ peroba │
│ 597 │ PetalWidth  │ 1.9     │ virginica    │ 147   │ peroba │
│ 598 │ PetalWidth  │ 2.0     │ virginica    │ 148   │ porco  │
│ 599 │ PetalWidth  │ 2.3     │ virginica    │ 149   │ peroba │
│ 600 │ PetalWidth  │ 1.8     │ virginica    │ 150   │ porco  │

Agora vamos mesclar uma linha nova no nosso df. Para isso vamos criar o vetor e mandar mesclar no iris.

In [107]:
v = [0.4,0.5,0.6,0.7,"venosa",199,"gato"] #Cria o vetor
push!(iris,v) #Meslca o vetor v ao df iris e sobrescreve
last(iris) #Mostra a última linha

DataFrameRow. Omitted printing of 2 columns
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species      │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Categorical… │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────────┤
│ 152 │ 0.4         │ 0.5        │ 0.6         │ 0.7        │ venosa       │

Vamos ordenar essa bagaça que o Guidoni fez o **FAVOR** de esculhambar? Vamos!

In [109]:
sort!(iris,:id) # "Ordene o df iris pela coluna id e sobrescreva"

152×7 DataFrame. Omitted printing of 2 columns
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species      │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Categorical… │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa       │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa       │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa       │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa       │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa       │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa       │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa       │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa       │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa       │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa       │
⋮
│ 142 │ 6.9         │ 3.1        │ 5.1         │ 2.3        │ virginica    │
│ 143 │ 5.8         │ 2.7        │ 5.1         │ 1.9        │ virginica    │
│ 144 │ 6.8         │ 3.2        │ 5.9         │ 2.3        │ virginica    │
│ 145 │ 6.7         │ 3.3        │ 5.7         │ 2.5        │ virginica    │
│ 146 │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ virginica    │
│ 147 │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ virginica    │
│ 148 │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ virginica    │
│ 149 │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ virginica    │
│ 150 │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ virginica    │
│ 151 │ 0.4         │ 0.5        │ 0.6         │ 0.7        │ venosa       │
│ 152 │ 0.4         │ 0.5        │ 0.6         │ 0.7        │ venosa       │

E se a gente quiser aplicar uma função ao longo de todas as colunas/linhas? 🤔

In [116]:
by(iris,:Species, media=:SepalLength => mean) #Estima a média da variável SepalLength para cada categoria da variável Species

4×2 DataFrame
│ Row │ Species      │ media   │
│     │ Categorical… │ Float64 │
├─────┼──────────────┼─────────┤
│ 1   │ setosa       │ 5.006   │
│ 2   │ versicolor   │ 5.936   │
│ 3   │ virginica    │ 6.588   │
│ 4   │ venosa       │ 0.4     │

---
### Vamos aprender a importar datasets?

In [118]:
CSV.write("iris_df.csv",iris) #"Salva aqui nessa pastinha que eu tô um arquivo chamado 'iris_df.csv' que contenha o df iris"

"iris_df.csv"

Como você é uma pessoa jovem, asseada e organizada, você não vai salvar seus dados na mesma pasta das suas análises, né? Faz o favor de organizar seu workspace, criar uma pasta só para os dados e jogar seu arquivo novo lá com "/data/iris_df.csv", por exemplo. Ai, ai, ai!

Quer conferir se salvou? Dê uma olhada nos arquivos que tem no seu diretório!

In [119]:
readdir()

4-element Array{String,1}:
 ".ipynb_checkpoints"
 "03-colab_notes.ipynb"
 "03-exercicios.md"
 "iris_df.csv"

Agora vamos importar nosso arquivo de volta! 💚

In [120]:
CSV.read("iris_df.csv")

152×7 DataFrame. Omitted printing of 2 columns
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species   │
│     │ Float64⍰    │ Float64⍰   │ Float64⍰    │ Float64⍰   │ String⍰   │
├─────┼─────────────┼────────────┼─────────────┼────────────┼───────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa    │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa    │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa    │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa    │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa    │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa    │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa    │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa    │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa    │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa    │
⋮
│ 142 │ 6.9         │ 3.1        │ 5.1         │ 2.3        │ virginica │
│ 143 │ 5.8         │ 2.7        │ 5.1         │ 1.9        │ virginica │
│ 144 │ 6.8         │ 3.2        │ 5.9         │ 2.3        │ virginica │
│ 145 │ 6.7         │ 3.3        │ 5.7         │ 2.5        │ virginica │
│ 146 │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ virginica │
│ 147 │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ virginica │
│ 148 │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ virginica │
│ 149 │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ virginica │
│ 150 │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ virginica │
│ 151 │ 0.4         │ 0.5        │ 0.6         │ 0.7        │ venosa    │
│ 152 │ 0.4         │ 0.5        │ 0.6         │ 0.7        │ venosa    │

Se seu coleguinha passou um csv esculhambado, com as colunas delimitadas por outra coisa, inclua um argumento `delim = ` dentro da sua função `CSV.read()`, para indicar **que diabos** está sendo utilizado para separar a **desgraça** das colunas.

---
### Pérolas da semana

- "Vamos bagunçar esse negócio ***agora***!" (Guidoni, 2019)