# Anotações da semana 03
2019-IV-20

### Dataframes

Organizando os pacotes que vamos usar:

In [1]:
using Pkg
#Pkg.installed() #lista os pacotes que você já tem e as correspondentes versões
Pkg.update() 
Pkg.add([
        "DataFrames",
        "CSV",
        "Statistics",
        "Random",
        "RDatasets"
        ])
using DataFrames,
        CSV,
        Statistics,
        Random,
        RDatasets
        ])

  Updating registry at `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\registries\JuliaPro`

┌ Warning: InterruptException()
└ @ Pkg.Operations C:\Users\julia\AppData\Local\Julia-1.0.3\share\julia\stdlib\v1.0\Pkg\src\Operations.jl:484

  Updating git-repo `https://pkg.juliacomputing.com//registry/JuliaPro`
 Resolving package versions...
 Installed DataFrames ────────────────── v0.17.1
 Installed DataStreams ───────────────── v0.4.1
 Installed Tables ────────────────────── v0.1.18
 Installed TimeZones ─────────────────── v0.9.0
 Installed CategoricalArrays ─────────── v0.5.2
 Installed CodecZlib ─────────────────── v0.5.0
 Installed IteratorInterfaceExtensions ─ v0.1.1
 Installed Mocking ───────────────────── v0.5.7
 Installed RData ─────────────────────── v0.6.0
 Installed Parsers ───────────────────── v0.2.22
 Installed EzXML ─────────────────────── v0.9.0
 Installed WeakRefStrings ────────────── v0.5.8
 Installed FileIO ────────────────────── v1.0.6
 Installed TableTraits ───────────────── v0.4.1
 Installed TranscodingStreams ────────── v0.9.4
 Installed CSV ───────────────────────── v0.4.3
 Installed RDatasets ─────────────────── v0.6.1
  Updating `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\environments\v1.0\Project.toml`
  [336ed68f] + CSV v0.4.3
  [a93c6f00] + DataFrames v0.17.1
  [ce6b1742] + RDatasets v0.6.1
  [10745b16] + Statistics
  Updating `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\environments\v1.0\Manifest.toml`
  [336ed68f] + CSV v0.4.3
  [324d7699] + CategoricalArrays v0.5.2
  [944b1d66] + CodecZlib v0.5.0
  [a93c6f00] + DataFrames v0.17.1
  [9a8bc11e] + DataStreams v0.4.1
  [8f5d6c58] + EzXML v0.9.0
  [5789e2e9] + FileIO v1.0.6
  [82899510] + IteratorInterfaceExtensions v0.1.1
  [78c3b35d] + Mocking v0.5.7
  [69de0a69] + Parsers v0.2.22
  [df47a6cb] + RData v0.6.0
  [ce6b1742] + RDatasets v0.6.1
  [3783bdb8] + TableTraits v0.4.1
  [bd369af6] + Tables v0.1.18
  [f269a46b] + TimeZones v0.9.0
  [3bb67fe8] + TranscodingStreams v0.9.4
  [ea10d353] + WeakRefStrings v0.5.8
  [9fa8497b] + Future
  Building EzXML ────→ `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\EzXML\DUxj7\deps\build.log`
  Building TimeZones → `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\TimeZones\oXITd\deps\build.log`
  Building CodecZlib → `C:\Users\Gracielle\.juliapro\JuliaPro_v1.0.3.1\packages\CodecZlib\wwgbh\deps\build.log`

In [5]:
using DataFrames,
        CSV,
        Statistics,
        Random,
        RDatasets

Vamos explorar o pacote DataFrames pra ver o que ele pode fazer por nós:

In [7]:
?DataFrame

search: DataFrame DataFrames DataFrameRow SubDataFrame GroupedDataFrame

  DataFrame <: AbstractDataFrame

  An AbstractDataFrame that stores a set of named columns

  The columns are normally AbstractVectors stored in memory, particularly a
  Vector or CategoricalVector.

  Constructors

  DataFrame(columns::Vector, names::Vector{Symbol}; makeunique::Bool=false)
  DataFrame(columns::Matrix, names::Vector{Symbol}; makeunique::Bool=false)
  DataFrame(kwargs...)
  DataFrame(pairs::Pair{Symbol}...; makeunique::Bool=false)
  DataFrame() # an empty DataFrame
  DataFrame(t::Type, nrows::Integer, ncols::Integer) # an empty DataFrame of arbitrary size
  DataFrame(column_eltypes::Vector, names::Vector, nrows::Integer; makeunique::Bool=false)
  DataFrame(column_eltypes::Vector, cnames::Vector, categorical::Vector, nrows::Integer;
            makeunique::Bool=false)
  DataFrame(ds::AbstractDict)
  DataFrame(table; makeunique::Bool=false)

  Arguments

    •    columns : a Vector with each column as contents or a Matrix

    •    names : the column names

    •    makeunique : if false (the default), an error will be raised if
        duplicates in names are found; if true, duplicate names will be
        suffixed with _i (i starting at 1 for the first duplicate).

    •    kwargs : the key gives the column names, and the value is the
        column contents

    •    t : elemental type of all columns

    •    nrows, ncols : number of rows and columns

    •    column_eltypes : elemental type of each column

    •    categorical : Vector{Bool} indicating which columns should be
        converted to CategoricalVector

    •    ds : AbstractDict of columns

    •    table: any type that implements the Tables.jl
        (https://github.com/JuliaData/Tables.jl) interface

  Each column in columns should be the same length.

  Notes

  A DataFrame is a lightweight object. As long as columns are not manipulated,
  creation of a DataFrame from existing AbstractVectors is inexpensive. For
  example, indexing on columns is inexpensive, but indexing by rows is
  expensive because copies are made of each column.

  If a column is passed to a DataFrame constructor or is assigned as a whole
  using setindex! then its reference is stored in the DataFrame. An exception
  to this rule is assignment of an AbstractRange as a column, in which case
  the range is collected to a Vector.

  Because column types can vary, a DataFrame is not type stable. For
  performance-critical code, do not index into a DataFrame inside of loops.

  Examples

  df = DataFrame()
  v = ["x","y","z"][rand(1:3, 10)]
  df1 = DataFrame(Any[collect(1:10), v, rand(10)], [:A, :B, :C])
  df2 = DataFrame(A = 1:10, B = v, C = rand(10))
  dump(df1)
  dump(df2)
  describe(df2)
  first(df1, 10)
  df1[:A] + df2[:C]
  df1[1:4, 1:2]
  df1[[:A,:C]]
  df1[1:2, [:A,:C]]
  df1[:, [:A,:C]]
  df1[:, [1,3]]
  df1[1:4, :]
  df1[1:4, :C]
  df1[1:4, :C] = 40. * df1[1:4, :C]
  [df1; df2]  # vcat
  [df1  df2]  # hcat
  size(df1)

Vamos então criar um fataframe para brincar:

In [8]:
df=DataFrame()

0×0 DataFrame

Criamos um df vazio. Agora vamos inspecionar as dimensões dele (finge que você não sabe e que alguém te passou um df que você nunca viu na vida).

In [9]:
size(df,1) # Quantas linhas meu df tem?

0

In [11]:
nrow(df) # A mesma coisa, mas de outro jeito.

0

In [10]:
size(df,2) #Quantas colunas meu df tem?

0

In [13]:
ncol(df) # A mesma coisa, mas de outro jeito.

0

In [16]:
df.PRIMEIRACOLUNA=1:10 # Criando a primeira coluna com 10 linhas preenchidas com uma sequência de 1 a 10.
df

10×1 DataFrame
│ Row │ PRIMEIRACOLUNA │
│     │ Int64          │
├─────┼────────────────┤
│ 1   │ 1              │
│ 2   │ 2              │
│ 3   │ 3              │
│ 4   │ 4              │
│ 5   │ 5              │
│ 6   │ 6              │
│ 7   │ 7              │
│ 8   │ 8              │
│ 9   │ 9              │
│ 10  │ 10             │

In [19]:
Random.seed!(42) # Vamos travar o conjunto de números aleatórios para facilitar nosso trabalho em grupo! <3

MersenneTwister(UInt32[0x0000002a], Random.DSFMT.DSFMT_state(Int32[964434469, 1073036706, 1860149520, 1073503458, 1687169063, 1073083486, -399267803, 1072983952, -909620556, 1072836235  …  -293054293, 1073002412, -1300127419, 1073642642, 1917177374, -666058738, -337596527, 1830741494, 382, 0]), [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  …  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], UInt128[0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000  …  0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000], 1002, 0)

Vamos preencher a nossa matriz com três colunas:

In [26]:
df1 = DataFrame(A = 1:10, B = ["a","b","c","d","e","f","g","h","i","j"], C = rand(10))

10×3 DataFrame
│ Row │ A     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Agora vamos renomear as colunas:

In [27]:
rename(df1,:A => :F) # "Pegue a coluna que se chama 'A' e agora chame ela de 'F', mas não salve no meu objeto df1"

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

In [28]:
df1 #Conferindo se atualizou o objeto ou não

10×3 DataFrame
│ Row │ A     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

In [29]:
rename!(df1,:A => :F) # "Pegue a coluna que se chama 'A' e agora chame ela de 'F', e agora salve no meu objeto df1 (o ! depois da função atualiza o objeto)"

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Vamos selecionar colunas e linhas. A gente pode fazer isso pelo número dela ou pelo nome:

In [30]:
df1[:F] #Se pedir com um colchete, ele retorna um vetor

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [31]:
df1[[:F]] #Se pedir com dois colchetes, ele retorna um dataframe com uma coluna

10×1 DataFrame
│ Row │ F     │
│     │ Int64 │
├─────┼───────┤
│ 1   │ 1     │
│ 2   │ 2     │
│ 3   │ 3     │
│ 4   │ 4     │
│ 5   │ 5     │
│ 6   │ 6     │
│ 7   │ 7     │
│ 8   │ 8     │
│ 9   │ 9     │
│ 10  │ 10    │

O Guidoni quer as duas últimas colunas cuja linha da coluna 1 são iguais a 5:

In [51]:
df1[df1.F.==5,2:3]

1×2 DataFrame
│ Row │ B      │ C        │
│     │ String │ Float64  │
├─────┼────────┼──────────┤
│ 1   │ e      │ 0.969432 │

Agora ele quer as linhas em que o valor da coluna 1 são maiores que 5:

In [52]:
df1[df1.F.>5,2:3]

5×2 DataFrame
│ Row │ B      │ C         │
│     │ String │ Float64   │
├─────┼────────┼───────────┤
│ 1   │ f      │ 0.0823367 │
│ 2   │ g      │ 0.244683  │
│ 3   │ h      │ 0.452418  │
│ 4   │ i      │ 0.763719  │
│ 5   │ j      │ 0.281987  │

Agora ele quer os menores que 5:

In [58]:
df1[df1.F.<5,2:3]

4×2 DataFrame
│ Row │ B      │ C        │
│     │ String │ Float64  │
├─────┼────────┼──────────┤
│ 1   │ a      │ 0.61205  │
│ 2   │ b      │ 0.210885 │
│ 3   │ c      │ 0.167169 │
│ 4   │ d      │ 0.497081 │

Agora ele quer os diferentes de 5:

In [55]:
df1[df1.F.!=5,2:3]

10×3 DataFrame
│ Row │ F     │ B      │ C         │
│     │ Int64 │ String │ Float64   │
├─────┼───────┼────────┼───────────┤
│ 1   │ 1     │ a      │ 0.61205   │
│ 2   │ 2     │ b      │ 0.210885  │
│ 3   │ 3     │ c      │ 0.167169  │
│ 4   │ 4     │ d      │ 0.497081  │
│ 5   │ 5     │ e      │ 0.969432  │
│ 6   │ 6     │ f      │ 0.0823367 │
│ 7   │ 7     │ g      │ 0.244683  │
│ 8   │ 8     │ h      │ 0.452418  │
│ 9   │ 9     │ i      │ 0.763719  │
│ 10  │ 10    │ j      │ 0.281987  │

Agora a Raquel quer as linhas cujos valores na coluna 1 estejam entre 2 e 6:

In [67]:
df1[(2 .< df1.F .<6),:]

3×3 DataFrame
│ Row │ F     │ B      │ C        │
│     │ Int64 │ String │ Float64  │
├─────┼───────┼────────┼──────────┤
│ 1   │ 3     │ c      │ 0.167169 │
│ 2   │ 4     │ d      │ 0.497081 │
│ 3   │ 5     │ e      │ 0.969432 │

Agora o Guidoni (pô, Guidoni!) quer um subset de df1 baseado em condições de duas colunas:

In [68]:
df1[(2 .< df1.F .<6) .& (df1.C .> 0.2), :]

2×3 DataFrame
│ Row │ F     │ B      │ C        │
│     │ Int64 │ String │ Float64  │
├─────┼───────┼────────┼──────────┤
│ 1   │ 4     │ d      │ 0.497081 │
│ 2   │ 5     │ e      │ 0.969432 │